<% @all_users.each do |user| %>
  <section class="single-user">
    <img class="profile-picture" src="<%= user.photo %>" />
    <a class="user-link" href="users/<%= user.id %>">
      <button class="user-button">
        <div class="user-name"><%= user.name %></div>
        <div class="user-post-counter">Number of Posts: <%= user.posts_counter%></div>
      </button>
    </a>
  </section>
<% end %>
<div class="add-post-div">
  <%= link_to "Add Post", new_post_path, class: "add-post" %>
</div>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
