<section class="single-user">
  <img class="profile-picture" src="<%= @user.photo %>" />
  <div class="user-container">
    <div class="user-name"><%= @user.name %></div>
    <div class="user-post-counter">Number of Posts: <%= @user.posts_counter %></div>
  </div>
</section>
<section class="bio-container">
<div class="bio-heading">Bio:</div>
<div><%= @user.bio %></div>
</section>
<% @posts.each do |post| %>
  <a href=<%= user_post_path(@user, post) %>>
    <section class="post-container">
      <div class="post-title"><%= post.title %></div>
      <div><%= post.text %></div>
      <div class="counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></div>
    </section>
  </a>
  <% if can? :manage, post %>
    <%= button_to "Delete Post", post_path(post.id), method: :delete, class: "delete-post" %>
  <% end %>
<% end %>
<%= flash[:notice] %>
<a class="all-posts-link" href="<%= params[:id] %>/posts">
  <button class="all-posts-button">See all posts</button>
</a>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "log-out" %>
