<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <section class="single-user">
      <img class="profile-picture" src="<%= @user.photo %>" />
      <div class="user-container">
        <div class="user-name"><%= @user.name %></div>
        <div class="user-post-counter">Number of Posts: <%= @user.posts_counter %></div>
      </div>
    </section>
    <% @all_posts.each do |post| %>
      <a href="posts/<%= post.id %>">
        <button>
          <div>
            <div><%= post.title %></div>
            <div><%= post.text %></div>
            <div>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter%></div>
          </div>
          <div>
            <% @comments = post.most_recent_comments %>
            <% @comments.each do |comment| %>
              <% @author = User.find(comment.author_id) %>
              <span><%= @author.name %>:</span>
              <span><%= comment.text %></span><br/>
            <% end %>
          </div>
        </button>
      </a>
    <% end %>
    <button>Pagination</button>
  </body>
</html>