<section class="single-user">
  <img class="profile-picture" src="<%= @user.photo %>" />
  <div class="user-container">
    <div class="user-name"><%= @user.name %></div>
    <div class="user-post-counter">Number of Posts: <%= @user.posts_counter %></div>
  </div>
</section>
<% @user.posts.each do |post| %>
  <a class="post-link" href="posts/<%= post.id %>">
    <button class="post-button">
      <div class="post-info">
        <div class="post-title"><%= post.title %></div>
        <div><%= post.text %></div>
        <div class="counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter%></div>
      </div>
      <hr/>
      <div class="comments-info">
        <% @comments = post.most_recent_comments %>
        <% @comments.each do |comment| %>
          <% @author = User.find(comment.author_id) %>
          <span><%= @author.name %>:</span>
          <span><%= comment.text %></span><br/>
        <% end %>
      </div>
    </button>
  </a>
  <% if can? :manage, post %>
    <%= button_to "Delete Post", post_path(post.id), method: :delete, class: "delete-post" %>
  <% end %>
<% end %>
<button class="pagination">Pagination</button>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "log-out" %>