<section class="single-user">
  <img class="profile-picture" src="<%= @user.photo %>" />
  <div class="user-container">
    <div class="user-name"><%= @user.name %></div>
    <div class="user-post-counter">Number of Posts: <%= @user.posts_counter %></div>
  </div>
</section>
<% @user.posts.each do |post| %>
  <button class="post-button">
    <section class="section-with-delete">
      <a class="post-link" href="posts/<%= post.id %>">
        <div class="post-info">
          <div class="post-title"><%= post.title %></div>
          <div><%= post.text %></div>
          <div class="counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter%></div>
        </div>
        <% if can? :manage, post %>
          <%= button_to "Delete Post", post_path(post.id), method: :delete, class: "delete-post" %>
        <% end %>
      </a>
    </section>
    <div class="comments-info">
      <% @comments = post.most_recent_comments %>
      <% @comments.each do |comment| %>
        <div class="div-with-delete">
          <% @author = User.find(comment.author_id) %>
          <span><%= @author.name %>:</span>
          <span><%= comment.text %></span><br/>
          <% if can? :manage, comment %>
            <%= button_to "Delete Comment", user_post_comment_path(@user, post, comment), method: :delete, class: "delete-comment" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </button>
<% end %>
<button class="pagination">Pagination</button>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "log-out" %>