<section class="post-section">
  <div class="post-section-title"><%= @post.title %> by <%= @post.author.name %></div>
  <div class="post-text"><%= @post.text %></div>
  <div class="counters">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></div>
  <%= button_to 'Like', user_post_likes_path(@post.author, @post), method: :post %>
</section>
<section class="comments-section">
  <div class="comments-heading">Comments</div>
  <% @post.comments.includes(:author).order(created_at: :desc).each do |comment| %>
    <div class="div-with-delete">
      <span><%= comment.author.name %>:</span>
      <span><%= comment.text %></span><br/>
      <% if can? :manage, comment %>
        <%= button_to "Delete Comment", user_post_comment_path(@post.author, @post, comment), method: :delete, class: "delete-comment" %>
      <% end %>
    </div>
  <% end %>
  <div class="add-comment-div">
    <a href="<%= params[:id] %>/comments/new" class="add-comment" >Add Comment</a>
  </div>
</section>
<% flash.each do |key, message| %>
  <div class="success-message"><%= message %></div>
<% end %>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "log-out" %>